.container {
  height: auto;
  padding: 0 20px 20px 20px;
  background: #83a4d4; /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  color: #171212;
}

.headlinePrimary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 0;
  padding-top: 30px;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:hover {
  background: #171212;
  color: #ffffff;
}

.buttonSmall {
  padding: 5px;
}

.buttonLarge {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 24px;
}

.searchForm {
  padding: 10px 0 20px 0;
  display: flex;
  align-items: baseline;
}

.label {
  border: 1px solid #171212;
  padding-left: 5px;
  font-size: 24px;
  padding: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid #171212;
  border-top: 1px solid #171212;
  background-color: transparent;
  font-size: 24px;
  padding: 7px;
}

.navLogo {
  height:fit-content;
  width: fit-content;
  background-color: #ffffff;
  padding-left: -20px;
}

.ul {
  background-color: #171212;
  color: #ffffff;
  width: auto;
  height: 100px;
  padding-right: 20px;
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}

.brand {
  display: flex;
  align-items: center;
}

.navLogo2 {
  background-color: #ffffff;
}

.brandLogo {
  padding-left: 10px;
  font-weight: 800;
}

.head {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 0;
}

.headerButton {
  position: relative;
}

.headerButton2 {
  position: absolute;
  left: 500px;
}

.headerButton3 {
  position: absolute;
  left: 870px;
}

.headerButton4 {
  position: absolute;
  left: 1000px;
}
